<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-image: linear-gradient(to right bottom, #ee894f, #d7aa8e, #d7aa8e, #d7aa8e, #d7aa8e);
    margin-left: 50px;
  }

  body,
  input {
    font-family: "Poppins", sans-serif;
  }
  .forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .signin-signup {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  form.sign-up-form {
    opacity: 0;
    z-index: 1;
  }

  form.sign-in-form {
    z-index: 2;
  }

  .title {
    border-bottom:dashed #ee894f 2px;
    font-size: 2.2rem;
    color: #000000;
    margin-bottom: 10px;
  }

  .input-field {
    max-width: 380px;
    width: 100%;
    background: transparent;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 19px );
    border: 2px solid #ffd452;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: flex;
    padding: 0 0.4rem;
    position: relative;
  }

  .input-field i {
    text-align: center;
    line-height: 55px;
    color: #555;
    transition: 0.5s;
    font-size: 1.1rem;
    margin-right: 5%;

  }
   .fa-eye-slash{
    margin-right: -5px!important;
  }
  .input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: black;
    margin-right: 15% !important;
  }

  .input-field input::placeholder {
    color: #555;
    font-weight: 500;
    opacity: 0.5;
  }

  .social-media {
    display: flex;
    justify-content: center;
  }

  .btn {
    width: 120px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 18.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    outline: none;
    height: 49px;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: 600;
    margin: 10px 10px;
    cursor: pointer;
    transition: 0.5s;
    display: inline!important;
  }

  .btn:hover {
    background-color: #fdbd6d;
  }
.auction {
  width: 250px;
}
  .panels-container {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0 0 -250px;
  }
  .container:before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: 10%;
    right: 48%;
    transform: translateY(-50%);
    transition: 1.8s ease-in-out;
    border-radius: 50%;
    border: 2px solid #ee894f;
    z-index: 6;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    overflow:hidden;
  }


  .panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
  }

  .left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
  }

  .right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
  }

  .panel .content {
    color: #fff;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel h4 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
    color: black;
  }

  .panel p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
    color: black;
    width: 500px;
  }


  .right-panel .image,
  .right-panel .content {
    transform: translateX(800px);
  }
  /* ANIMATION */

  .container.sign-up-mode:before {
    transform: translate(100%, -50%);
    right: 52%;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateX(-800px);
  }

  .container.sign-up-mode .signin-signup {
    left: 25%;
  }

  .container.sign-up-mode form.sign-up-form {
    opacity: 1;
    z-index: 2;
  }

  .container.sign-up-mode form.sign-in-form {
    opacity: 0;
    z-index: 1;
  }

  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateX(0%);
  }

  .container.sign-up-mode .left-panel {
    pointer-events: none;
  }

  .container.sign-up-mode .right-panel {
    pointer-events: all;
  }
  button {
    background: #ffd452;
    color: black!important;
    font-size: 12px;
  }
  #btnToggle {
    background: transparent;
    color: black;
    border: none;
  }

  @media (max-width: 870px) {
    .container {
      min-height: 800px;
      height: 100vh;
    }
    .signin-signup {
      width: 100%;
      top: 95%;
      transform: translate(-50%, -100%);
      transition: 1s 0.8s ease-in-out;
    }

    .signin-signup,
    .container.sign-up-mode .signin-signup {
      left: 50%;
    }
    .panels-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
    }

    .panel {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 2.5rem 8%;
      grid-column: 1 / 2;
    }


    .left-panel {
      grid-row: 1 / 2;
    }

    .image {
      width: 200px;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.6s;
    }

    .panel .content {
      padding-right: 15%;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.8s;
    }

    .panel h4 {
      font-size: 1.2rem;
    }

    .panel p {
      font-size: 0.7rem;
      padding: 0.5rem 0;
    }

    .container:before {
      width: 1500px;
      height: 1500px;
      transform: translateX(-50%);
      left: 30%;
      bottom: 68%;
      right: initial;
      top: initial;
      transition: 2s ease-in-out;
    }

    .container.sign-up-mode .left-panel .image,
    .container.sign-up-mode .left-panel .content {
      transform: translateY(-300px);
    }

    .container.sign-up-mode .right-panel .image,
    .container.sign-up-mode .right-panel .content {
      transform: translateY(0px);
    }

    .right-panel .image,
    .right-panel .content {
      transform: translateY(300px);
    }

    .container.sign-up-mode .signin-signup {
      top: 5%;
      transform: translate(-50%, 0);
    }
  }

  @media (max-width: 570px) {
    form {
      padding: 0 1.5rem;
    }

    .image {
      display: none;
    }
    .panel .content {
      padding: 0.5rem 1rem;
    }
    .container {
      padding: 1.5rem;
    }
    .container:before {
      bottom: 28%;
      left: 50%;
    }
  }


  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }


  .circle-link a {
    color:black;
    text-decoration: none;

  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  .sign_up > p, a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
    height: 50px;
    width: 500px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ee894f;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  footer a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color:black;
  }


  /* Media Queries for Responsive Styles */
  @media screen and (min-width: 1200px) and (max-width: 2400px ) {
  .card-container>*:not(.circle-link) {
    width: 100%;
  }

    }



</style>
<div class="container">
  <div class="d-flex justify-content-center">
    <div>
      <div class="col-8">
        <div class="forms-container">
          <div class="signin-signup">
            <form action="#" class="sign-in-form">
              <h4 class="title">Sign in</h4>
              <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Username" />
              </div>
              <div class="input-field" >
                <i class="fas fa-lock"></i>   <input type="password" id="txtPassword"  name="txtPassword" placeholder="Password"  />
                <button type="button" id="btnToggle" class="toggle"><i id="eyeIcon" class="fa fa-eye" ></i></button>
              </div>
              <input type="submit" value="Login" class="btn btn-dark solid" />
              <p class="social-text text-muted"> <a href="#">Forgot password?</a></p>
              <div class="social-media">

              </div>
            </form>
          </div>
        </div>
        <div class="panels-container">
          <div class="panel left-panel">
            <div class="content">
              <div class="highlight-card card-small">
                <img class="mb-5" width="100" alt="CarOnSale-logo" src="https://app.caronsale.de/assets/logo/cos/logo-dark.svg" />
              </div>
              <h4 >New here?</h4>
              <p>
                Create your account. It is free and only takes a minute!
              </p>
              <button class="btn d-inline " id="sign-up-btn">
                Register as Seller
              </button>   <button class="btn d-inline" id="sign-up-btn1">
              Register as Buyer
            </button>
              <div class=" auction-button">
              <button class="btn auction" id="sign-up-btn2">
            Go to Auctions
            </button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  let passwordInput = document.getElementById('txtPassword'),
    toggle = document.getElementById('btnToggle'),
    icon =  document.getElementById('eyeIcon');

  function togglePassword() {
    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';
      icon.classList.add("fa-eye-slash");

    } else {
      passwordInput.type = 'password';
      icon.classList.remove("fa-eye-slash");

    }
  }

  function checkInput() {
    //if (passwordInput.value === '') {
    //toggle.style.display = 'none';
    //toggle.innerHTML = 'show';
    //  passwordInput.type = 'password';
    //} else {
    //  toggle.style.display = 'block';
    //}
  }

  toggle.addEventListener('click', togglePassword, true);
  passwordInput.addEventListener('keyup', checkInput, false);
</script>

<router-outlet></router-outlet>
